@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url(assets/fonts/HelveticaNeueCyr-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url(assets/fonts/HelveticaNeueCyr-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "HelveticaNeueCyr-Regular";
  src: url(assets/fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
}

:root{
  --font-family-400: HelveticaNeueCyr-Regular, sans-serif;
  --font-family-500: HelveticaNeueCyr-Medium, sans-serif;
  --font-family-700: HelveticaNeueCyr-Bold, sans-serif;
  --main-color: #0957C3;
  --main-white: #FBFBFB;
  --text-black: #11101c;
}

*{
  box-sizing: border-box;
  font-family: var(--font-family-500);
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}